* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column
}

.container__menuTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #080E2C;
  padding: 0 20px;
  flex-grow: .3;
}

a {
  color: #fff;
  text-decoration: none;
  user-select: none;
  text-align: center;
}


.back {
  margin-right: 10px;
}

.menuTop__img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-image: url(./Img/20200909_112340.jpg);
  background-size:cover;
}

.menuTop__name {
  margin-left: 10px
}

.menuTop__actions {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 0 30px;
  margin-left: auto;
}

.container__message {
  background: #fff;
  flex-grow: 6;
  color: #050506;
  padding: 10px 20px;
}



.message {
  display: flex;
  flex-direction: column;
  background-color: #44EABB;
  padding: 5px 20px;
  margin-top: 10px;
  margin-left: auto;
  border-radius: 50px;
  max-width: max-content;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, .22)
}

.message__received {
  background-color: #F3FDFB
}

.message__received {
  margin-left: 0
}

.message__hour {
  font-size: .5rem;
  margin-left: auto;
}

.message__send {
  display: flex;
  justify-content: center;
  padding: 5px 20px;
  background-color: #08022C;
  position:relative;
}

.send__input {
  flex-grow: 1;
  height: 29px;
  padding: 5px 60px 5px 20px;
  border: none;
  border-radius: 90px;
  outline: none;
  margin-right: 10px;
white-space: pre-line;
}
.camera, .clip{
  position: absolute;
  bottom: 12px;
  right: 60px;
  color:#000;
}
.clip{
  right: 85px;
}
.send__button {
  color: #fff;
  padding: 5px 0;
}
  .tooltip {
    position: absolute;
    transform: translate3d(5px, -50px, 0) !important;
  }

.message__emoji {
  display: flex;
  align-items: center;
  color: #fff;
  margin-right: 10px;
}

.tooltip:not(.shown) {
  display: none;
  }
  
